<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"/>
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.8"/>
		<machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps"/>
	</system.web>
	<appSettings>
		<add key="merchantID" value="1396424"/>
		<add key="secretKey" value="test"/>
		<add key="ApiHost" value="api.fondy.eu"/>
		<add key="contentType" value="json"/>
		<add key="protocol" value="1.0.0"/>
	</appSettings>
</configuration>